html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

#phrase-settings {
    display: flex;
    flex-direction: column;
    width: min-content;
}

#phrase-settings-lists {
    display: flex;
    flex: 185px;
}

.settings-list {
    margin: 0px 5px;
}

.settings-list select {
    width: 200px;
}

option:disabled {
    text-align: center;
}

#phrases-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#selected-phrase {
    display: flex;
    flex-direction: column;
    margin: 5px;
    row-gap: 5px;
}

#edit-btn {
    align-self: flex-end;
}

.phrase-text-border {
    border: 1px solid;
    padding: 5px;
    min-height: 75px;
}

#add-phrase {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

#new-phrase-info,
#new-phrase-info div {
    display: flex;
}

#new-phrase-info div {
    align-items: baseline;
}

#new-phrase-info label {
    padding-right: 5px;
}

#new-phrase-info input {
    flex: 1;
}

#new-pid {
    flex: 1;
    padding-left: 5px;
}

#new-title {
    flex: 2;
    padding-left: 10px;
}

#new-phrase-text {
    margin: 5px 0px;
}

#whitespace {
    height: 1000px;
}